<h2>Liste des abonnés</h2> 
<table class="table"> 
<thead> 
<tr> 
<th>Nom</th> 
<th>Email</th> 
<th>Code Postal</th> 
</tr> 
</thead> 
<tbody> 
<% subscribers.forEach(subscriber => { %> 
<tr> 
<td><a href="/subscribers/<%= subscriber._id %>"><%= subscriber.name %></a></td>
<td><%= subscriber.email %></td> 
<td><%= subscriber.zipCode %></td> 
</tr> 
<% }); %> 
</tbody> 
</table> 
<button><a href="/subscribers/new">Créer un nouvel abonné</a></button> 
<form method="GET" action="/subscribers" class="mb-4">
    <input type="text" name="search" placeholder="Rechercher par nom ou code postal" class="form-control" style="max-width: 400px; display: inline-block;" />
    <button type="submit" class="btn btn-primary">Rechercher</button>
</form>